<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RunDay</title>
</head>
<body>
    <h1>Welcome Guest!</h1>
    <div th:if="${param.error}">
        Неправильные имя или пароль
    </div>
    <div th:if="${param.logout}">
        Вы покинули приложение
    </div>
    <form th:action="@{/runday/auth/login}" method="post">
        <h2>Введите данные аккаунта RunDay</h2>
        <div><label> User Name : <input type="text" name="username" placeholder="Введите имя" required/> </label></div>
        <div><label> Password: <input type="password" name="password" placeholder="Введите пароль" required/> </label></div>
        <div><input type="submit" value="Войти"/></div>
    </form>
    <a th:href="@{/runday/registration}">Зарегистрироваться</a>
</body>
</html>