<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
    <title>runDay</title>
</head>
<body>
    <header>
        
    </header>
    <section>
        <div class="container">
            <div class="row mt-3 justify-content-center">
                <div class="col-6">
                    <h3 class="text-center">Добро пожаловать на регистрацию в runDay</h3>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-3 justify-content-center t-shadow">
                <div class="col-4 m-2">
                    <div class="pt-4 p-3 text-center">
                        <img id="main_logo" src="/img/pngegg (1).png" alt="logo" />
                    </div>
                </div>
                <div class="col-4 sb-container m-2">
                    <div class="row">
                        <div class="col">
                            <div class="mt-4 text-center">
                                <img id="profile-img" class=" shadow" src="/img/profile/cat.jpg" alt="logo" />
                            </div>
                        </div>
                    </div>
                    <form th:action="@{/runday/registration}" th:object="${account}" th:method="post">
                        <div class="row mt-4  text-justify">
                            <label class="col-3 offset-md-1 text-center">Эл. почта</label>
                            <div class="col-7">
                                <input type="email" th:field="*{email}" class="sb-input" placeholder="Введите email">
                            </div>
                        </div>
                        <div class="row mt-2 text-justify">
                            <label class="col-3 offset-md-1 text-center">Имя</label>
                            <div class="col-7">
                                <input type="text" th:field="*{firstName}" class="sb-input" placeholder="Введите имя">
                            </div>
                        </div>
                        <div class="row mt-2 text-justify">
                            <label class="col-3 offset-md-1 text-center">Фамилия</label>
                            <div class="col-7">
                                <input type="text" th:field="*{lastName}" class="sb-input" placeholder="Введите фамилию">
                            </div>
                        </div>
                        <div class="row mt-2 text-justify">
                            <label class="col-3 offset-md-1 text-center">Пароль</label>
                            <div class="col-7">
                                <input type="password" th:field="*{password}" class="form-control sb-input" placeholder="Введите пароль">
                            </div>
                        </div>
                        <div class="row mt-2 text-justify">
                            <label class="col-3 offset-md-1 text-center">Пароль</label>
                            <div class="col-7">
                                <input type="password" class="form-control sb-input" placeholder="Повторно введите пароль">
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col-4 offset-md-7">
                                <button type="submit" class="btn-singIn">Регистрация</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-5 offset-md-6 mb-5 text-end">
                                <a th:href="@{/runday/auth/login}">Отмена</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="mt-2">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-5 text-center">
                    <label>Обратная связь</label>
                    <img src="/img/icon/phone.svg"/>
                    <label>8(924)123-12-12</label>
                    <img src="/img/icon/email.svg"/>
                    <label>help@mail.ru</label>
                </div>
            </div>
        </div>
    </footer>





    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script>

    </script>

</body>
</html>