<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RunDay</title>
</head>
<body>
    <h1>Добро пожаловать на страницу регистрации</h1>
    <form th:action="@{/runday/registration}" th:object="${account}" th:method="post">
        <div><label> Имя <input type="text" th:field="*{firstName}" placeholder="Введите имя"/> </label></div>
        <div><label> Фамилия <input type="text" th:field="*{lastName}" placeholder="Введите фамилию"/> </label></div>
        <div><label> Email <input type="text" th:field="*{email}" placeholder="Введите email"/> </label></div>
        <div><label> Пароль <input type="password" th:field="*{password}" placeholder="Введите пароль"/> </label></div>
        <div><input type="submit" value="Регистрация"/></div>
    </form>
    <a th:href="@{/runday/auth/login}">Вернуться</a>
</body>
</html>