<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
        <title>RunDay</title>
    </head>
    <body>
<!--        <h1 th:inline="text">Привет [[${#httpServletRequest.remoteUser}]]!</h1>-->
        <header style="height: 50px; background-color: #fff;">
            <div class="container">
                <div class="row">
                    <div class="col"></div>
                </div>
            </div>
        </header>

        <section>
            <div class="container mt-2">
                <div class="row justify-content-around">
                    <div class="col-3 sb-container" >
                        <div class="row mt-3">
                            <div class="col text-center"><img id="profile-img" class="shadow" src="/img/profile/cat.jpg" alt="logo" /></div>
                        </div>
                        <div class="row justify-content-center mt-2">
                            <div class="col-7 offset-md-1 text-center">
                                <label class="label-profile">
                                    <span th:text="${account.getFirstName()}"></span>
                                    <span th:text="${account.getLastName()}"></span>
                                </label>
                            </div>
                            <div class="col-1">
                                <img src="/img/icon/pencil-square.svg" alt="edit-icon"/>
                            </div>
                        </div>
                        <div class="row mt-3">
                            <div class="col text-center"><label>Тренировки</label></div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><label class="label-profile" id="count-workout">598</label></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-center"><label>Общий объем</label></div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><label class="label-profile" id="general-distance">6140км</label></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-center"><label>Затрчено времени</label></div>
                        </div>
                        <div class="row">
                            <div class="col text-center"><label class="label-profile" id="general-time">601ч</label></div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-7">
                                <button type="button" class="btn-singIn mt-3 mb-3">Покинуть приложение</button>
                            </div>
                        </div>
                    </div>

<!----------------------------------------------workout------------------------------------------------------>
                    <div class="col-5">
                        <div class="row">
                            <div class="col text-center">
                                <label class="label-profile">Тренировки</label>
                            </div>
                        </div>
                        <div class="row sb-container mt-3">
                            <table id="workout_table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Дата</th>
                                        <th scope="col">Описание</th>
                                        <th scope="col">Расстояние(км)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>

<!-------------------------------------workout profile----------------------------------------------->
                        <div class="row sb-container mt-3">
                            <!-- <div class="col-1 align-self-center"> <img src="img/icon/arrow-left-circle.svg"/></div> -->
                            <div class="col-10 offset-md-1">
                                <div class="row mt-2">
                                    <div class="col text-center"><label id="workout_date" style="font-size: large;">12.02.2022</label></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6 text-center"><label id="workout_time" style="font-size: larger;">Время 57:35</label></div>
                                    <div class="col-6 text-center"><label id="workout_temp" style="font-size: larger;">Темп 5:41/км</label></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col text-center"><label id="workout_distance" style="font-size: large;">12,2км</label></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-6 text-center">
                                        <div class="row justify-content-center">
                                            <div class="col-6 text-center"><label>Описание</label></div>
                                        </div>
                                        <div class="row mt-1">
                                            <div class="col text-center"><label>Вечерняя тренировка, на которой я
                                                устал, как-будто пахал трое суток без отдыха.
                                                Больше никогда так напрягаться не буду!</label></div>
                                        </div>
                                    </div>
                                    <div class="col-6 text-center">
                                        <div class="row mt-2 justify-content-center">
                                            <div class="col text-center"><label>Самочувствие</label></div>
                                        </div>
                                        <div class="row mt-1 justify-content-center">
                                            <div class="col text-center"><label id="workout_health">Звезды рейтинга</label></div>
                                        </div>
                                        <div class="row mt-2 justify-content-center">
                                            <div class="col text-center"><label>Кроссовки</label></div>
                                        </div>
                                        <div class="row mt-1 justify-content-center">
                                            <div class="col-6 text-center">
                                                <div id="block-logo-sneaker-big">
                                                    <img id="logo-sneaker-dig" src="/img/logo_sneaker/nb.svg"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-1 justify-content-center">
                                            <div class="col text-center"><label><span id="workout_producer"></span> <span id="workout_shoemodel"></span></label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-1 offset-md-5"><img src="/img/icon/pencil-square.svg" alt="btn-edit"/></div>
                                    <div class="col-1"><img src="/img/icon/delete.svg" alt="btn-edit"/></div>
                                </div>
                            </div>
                            <!-- <div class="col-1 align-self-center"><img src="img/icon/arrow-right-circle.svg"/></div> -->
                        </div>
                    </div>

<!--------------------------------------sneakers_table-------------------------------------------------------->
                    <div class="col-3">
                        <div class="row">
                            <div class="col text-center">
                                <label class="label-profile">Кроссовки</label>
                            </div>
                        </div>
                        <div class="row sb-container mt-3">
                            <table class="" id="table_sneakers">
                                <thead>
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Производитель</th>
                                        <th scope="col">Модель</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
<!-----------------------------------------sneakers_profile---------------------------------------->
                        <div class="row sb-container mt-3">
                            <div class="col">
                                <div class="row mt-2">
                                    <div class="col-6 offset-md-1 text-center">
                                        <div id="block-logo-sneaker-big">
                                            <img id="logo-sneaker-dig" src="/img/logo_sneaker/nb.svg"/>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <span id="sneakers_profile_id" hidden>id</span>
                                                <span id="sneakers_profile_pair" hidden>Пара</span>
                                                <span id="sneakers_profile_enable" hidden>Действующие</span>
                                                <label id="sneakers_profile_producer">New balance</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col"><label id="sneakers_profile_model">1080</label></div>
                                        </div>
                                        <div class="row">
                                            <div id="sneakers_profile_countworkout" class="col"><label>Тренировки 81</label></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col text-center"><label style="font-size: larger;"><span id="sneakers_profile_distance">567</span>/<span id="sneakers_profile_limit">234</span></label></div>
                                </div>
                                <div class="row">
                                    <div class="col text-center"><label>Пробег/Лимит</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-10 offset-md-1 text-start"><label>Заметка</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-10 offset-md-1 text-start"><label id="sneakers_profile_note">Для тренировок по асфальту</label></div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-10 offset-md-1 text-start"><label>Описание производителя</label></div>
                                </div>
                                <div class="row">
                                    <div class="col-10 offset-md-1 text-start"><label id="sneakers_profile_description">Данная модель кроссовок
                                        предназначена для комфортного бега в рамках тренировок</label></div>
                                </div>
                                <div class="row mt-2 mb-3">
                                    <div class="col-5 offset-md-1">
                                        <div id="btn-show-edit-sneakers">
                                            <img src="/img/icon/pencil-square.svg" alt="btn-edit"/>
                                        </div>
                                    </div>
                                    <div class="col-1 offset-md-2"><img src="/img/icon/delete.svg" alt="btn-edit"/></div>
                                </div>
                            </div>
                        </div>

                        <div class="row sb-container mt-3">
                            <div class="col offset-md-1">
                                <form id="edit-sneakers">
                                        <span>Редактирование кроссовок</span>
                                        <br/>
                                        <label>Производитель</label><label id="sneakers-edit-producer"></label>
                                        <br/>
                                        <label>Модель</label><label id="sneakers-edit-model"></label>
                                        <br/>
                                        <label>Заметка</label><input id="sneakers-edit-note" value=""/>

                                        <input class="btn-singIn mb-2" type="submit" value="Редактировать">
                                </form>
                            </div>
                        </div>






                    </div>
                </div>
            </div>
        </section>

        <footer class="mt-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-5 text-center">
                        <label>Обратная связь</label>
                        <img src="/img/icon/phone.svg"/>
                        <label>8(924)123-12-12</label>
                        <img src="/img/icon/email.svg"/>
                        <label>help@mail.ru</label>
                    </div>
                </div>
            </div>
        </footer>


<!-------------------------------------SCRIPTS----------------------------------------------->

        <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
        <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
        <script text="javascript">
            /*<![CDATA[*/


                $(document).ready(function () {

                    let listSneakers;
                    let selectSneaker;

                    let listWorkout;
                    let selectWorkout;

                    //получаем и показываем все тренировки пользователя
                    getAllWorkout();

                    //получаем и показываем все кроссовки пользователя
                    getAllSneakers();

                    $('#btn-show-edit-sneakers').on('click', function (){
                        if (selectSneaker !== undefined) {
                            $('#sneakers-edit-producer').text(selectSneaker.shoeModel.producer.name);
                            $('#sneakers-edit-model').text(selectSneaker.shoeModel.name);
                            $('#sneakers-edit-note').val(selectSneaker.note);
                        }
                    })

                    $('#edit-sneakers').submit(function (event){
                        event.preventDefault();
                        selectSneaker.note = $('#sneakers-edit-note').val();
                        $.ajax({
                            url: '/runday/runner/sneakers/update',
                            method: 'PATCH',
                            cache: false,
                            contentType: 'application/json; charset=utf-8',
                            data: JSON.stringify(selectSneaker),
                            success: function (){
                                console.log('success');
                                getAllSneakers();
                                setTimeout(function (){
                                    $('#edit-sneakers').trigger('reset');
                                    $('#table_sneakers').trigger('reset');
                                }, 0);
                                selectSneaker = null;
                            },
                            error: function(xhr, status, error){
                                let errorMessage = xhr.status + ': ' + xhr.statusText;
                                alert('Error - ' + errorMessage);
                            }
                        })



                    })


                    //функция получения списка всех кроссовок пользователя
                    function getAllSneakers(){
                        $.ajax({
                            method: 'GET',
                            url: '/runday/runner/sneakers',
                            cache: false,
                            dataType: 'json',
                            fail: function (){alert('все пропало!')},
                            success: function (list){
                                showAllSneakers(list)
                                // слушатель на каждую строку таблицы пользователей
                                $('.sneaker-row').on('click', function (){
                                    let index = $(this).index();
                                    selectSneaker = list[index];
                                    $('#sneakers_profile_producer').text(selectSneaker.shoeModel.producer.name);
                                    $('#sneakers_profile_model').text(selectSneaker.shoeModel.name);
                                    $('#sneakers_profile_limit').text(selectSneaker.shoeModel.limitation + 'км');
                                    $('#sneakers_profile_note').text(selectSneaker.note);
                                    $('#sneakers_profile_description').text(selectSneaker.shoeModel.description);
                                    let count_workout = 0;
                                    let km = 0;

                                    for (let i = 0; i < listWorkout.length; i++) {
                                        if (selectSneaker.id === listWorkout[i].sneakers.id) {
                                            console.log(listWorkout[i].distance)
                                            km += listWorkout[i].distance;
                                            count_workout++;
                                        }
                                    }
                                    $('#sneakers_profile_distance').text(km === 0 ? 0+'км' : (km/1000.0).toFixed(3)+'км');
                                    $('#sneakers_profile_countworkout').text('Тренировки ' + count_workout);

                                    console.log('click');
                                    console.log(selectSneaker);
                                })
                            }
                        })
                    }
                    //функция для вставки данных кроссовок в sneakers_table
                    function showAllSneakers(list){
                        let rows;
                        for (let i = 0; i < list.length; i++) {
                            rows = rows + '<tr class="sneaker-row"><td>' + list[i].id + '</td>' +
                                '<td>' + list[i].shoeModel.producer.name + '</td>' +
                                '<td>' + list[i].shoeModel.name + '</td></tr>';
                        }
                        listSneakers = list
                        $('#table_sneakers tbody').html(rows);
                    }

                    //функция получения списка всех тренировок пользователя
                    function getAllWorkout(){
                        $.ajax({
                            url: '/runday/runner/workout',
                            method: 'GET',
                            dataType: 'json',
                            cache: false,
                            fail: function (){alert('все пропало')},
                            success: function (list){
                                console.log(list);
                                showAllWorkout(list);
                                // слушатель на каждую строку таблицы пользователей
                                $('.workout-row').on('click', function (){
                                    let index = $(this).index();
                                    selectWorkout = list[index];
                                    $('#workout_date').text(selectWorkout.date);
                                    $('#workout_distance').text((selectWorkout.distance/1000.0).toFixed(3) + 'км');
                                    $('#workout_producer').text(selectWorkout.sneakers.shoeModel.producer.name);
                                    $('#workout_shoemodel').text(selectWorkout.sneakers.shoeModel.name);

                                    let sec = ((selectWorkout.time/60)%60);
                                    let hours = Math.floor((selectWorkout.time/60)/60);
                                    $('#workout_time').text(hours + 'ч ' + sec + 'мин');
                                    $('#workout_health').text(selectWorkout.health);
                                    let km = selectWorkout.distance /1000.0;
                                    let min = selectWorkout.time / 60.0;

                                    $('#workout_temp').text(Math.floor(min/km) +':'+  (min%km)%60 + 'мин/км');

                                    console.log('click');
                                    console.log(selectWorkout);
                                })
                            }
                        })
                    }
                    //функция для вставки данных тренировок в workout_table
                    function showAllWorkout(list) {
                        console.log('showWorkout');
                        let general_distance=0;
                        let general_time=0;
                        let rows;
                        for (let i = 0; i < list.length; i++) {
                            rows = rows + '<tr class="workout-row"><td>' + list[i].id + '</td>' +
                                '<td>' + list[i].date + '</td>' +
                                '<td>' + ' ' + '</td>' +
                                '<td>' + ((list[i].distance/1000.0).toFixed(3)) + '</td></tr>';
                            general_distance += list[i].distance;
                            general_time += list[i].time;
                        }
                        listWorkout = list;
                        $('#count-workout').text(listWorkout.length);
                        $('#general-distance').text((general_distance/1000.0).toFixed(3) + 'км');
                        let sec = ((general_time/60)%60);
                        let hours = Math.floor((general_time/60)/60);
                        $('#general-time').text(hours + 'ч ' + sec + 'мин');
                        $('#workout_table tbody').html(rows);
                    }
                })


            /*]]>*/
        </script>
    </body>
</html>